<a href="https://colab.research.google.com/github/KimSiGyum/python2/blob/main/%ED%8A%9C%ED%94%8C%2C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC(20306%EA%B9%80%EC%8B%9C%EA%B2%B8)_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플
- 수정이 불가능한 자료들의 묶음
- (요소1, 요소2, ...)

리스트
- 순서(인덱스)가 있는 데이터의 묶음
- [요소1, 요소2, ...]
-

튜플
- 순서(인덱스)가 있는 데이터의 묶음
- (요소1, 요소2, ...)
-

딕셔너리
- 데이터의 묶음
- {키1:요소1, 키2:요소2, ...}

In [ ]:
list = [1, 2, 3]
print(list[0])
print(list[2])
list[2] = 30
print(list)

1
3
[1, 2, 30]

In [ ]:
tu = (1,2,3)
print(tu[0])
print(tu[-1])    # 인덱싱 => 튜플명[인덱스]
print(tu[0:2])   # 슬라이싱 => 튜플명[start 인덱스 : end 인덱스 + 1]

#tu[1] = 20
tu = 1, 2, 3
print(tu)
t1, t2, t3 = 1, 2, 3
print(t1)
print(t2)
print(t3)
tu2 = (10,)
print(tu2)

1
3
(1, 2)
(1, 2, 3)
1
2
3
(10,)

In [ ]:
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
print(dic['book'])
print(dic['boy'])
print(dic.get('book'))
#print(dic['girl'])
print(dic.get('girl'))
print(dic.get('girl', '키가 없음'))

책
소년
책
None
키가 없음

In [ ]:
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
#딕셔너리 수정 => 딕셔너리명[키] = 값
dic['boy'] = '남자아이'
print(dic)
#딕셔너리 추가 => 딕셔너리명[키] = 값
dic['girl'] = '여자아이'
print(dic)
#딕셔너리 삭제 => del 딕셔너리명[키]
del dic['school']
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책'}
{'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}
{'boy': '남자아이', 'book': '책', 'girl': '여자아이'}

In [ ]:
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
dic2 = {'student':"학생", 'teacher':"선생님", 'book':"서적"}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [ ]:
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
dic.update(student = '학생', boy = '남자아이')
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'student': '학생'}

In [ ]:
#ex(17-1)
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
#for 변수 in 데이터묶음:
#for key in dic:
#    print(key)

#ex(17-2)
for value in dic.values():
    print(value, end=' ')

소년 학교 책

In [ ]:
#ex(17-3)
for item in dic.items() :
    print(item)

('boy', '소년')
('school', '학교')
('book', '책')

In [ ]:

t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [ ]:
tu = 2
print(type(tu))
print(tu)

<class 'int'>
2

In [ ]:
tu = 2,
print(type(tu))
print(tu)

<class 'tuple'>
(2,)

In [ ]:
tu = 1, 2, 3, 4, 5

print(tu[2])
print(tu[1:4])
print(tu + (6, 7))
print(tu * 2)

3
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
tu[1] = 20
print(tu)

TypeError: ignored

### 여러개의 변수에 값을 한꺼번에 저장할떄 튜플을 사용

In [ ]:
tu = '이순신', '김유신', '강감찬'
print(tu)
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

('이순신', '김유신', '강감찬')
이순신
김유신
강감찬

In [ ]:
#swap
a = 12
b = 34

print(a, b)
c = a
a = b
b = c
print(a, b)

12 34
34 12

In [ ]:
a, b = 12, 34
print(a, b)
a, b = 34, 12
print(a, b)

12 34
34 12

In [ ]:
d, m = divmod(7, 3)
print('몫: ', d)
print('나머지: ', m)

몫:  2
나머지:  1

In [ ]:
d = 7 // 3
m = 7 % 3
print(d, m)

2 1

In [ ]:
score = [88, 95, 70, 100, 99]
tu = tuple(score)
#tu[0] = 100
print(tu)

li = list(tu)
li[0] = 100
print(li)

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

### 딕셔너리(사전)
- {키1 : 값1, 키2 : 값2, ...}

In [ ]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}
print(dic)
print(type(dic))

{'boy': '소년', 'school': '학교', 'book': '책'}
<class 'dict'>

In [ ]:
print(dic['boy'])
print(dic['book'])

print(dic['girl'])

소년
책

KeyError: ignored

In [ ]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}
#수정
dic['boy'] = '남자아이'
print(dic)
#추가
dic['girl'] = '여자아이'
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책'}
{'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

In [ ]:
#삭제 => del
dic = {'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

del dic['book']
print(dic)
del dic['boy']
print(dic)

{'boy': '남자아이', 'school': '학교', 'girl': '여자아이'}
{'school': '학교', 'girl': '여자아이'}

In [ ]:
dictionary = {
    'name' : '7D 건조 망고',
    'type' : '당절임',
    'ingredient' : ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
    'origin' : '필리핀'
}
print(dictionary)

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}

In [ ]:
print('name:', dictionary['name'])
print('type:', dictionary['type'])
print('ingredient:', dictionary['ingredient'])
print('origin:', dictionary['origin'])

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

In [ ]:
dictionary['name'] = '8D 건조 망고'
del dictionary['ingredient']
dictionary['price'] = 5000
print(dictionary)

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

In [ ]:
animation = {}

print('요소 추가 이전:', animation)

animation['작가'] = '황미나'
animation['연재작'] = '이오니아의 푸른 별'
animation['최근작'] = '보톡스'
print('요소 추가 이후:', animation)

del animation['연재작']
print('요소 제거 이후:', animation)

요소 추가 이전: {}
요소 추가 이후: {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거 이후: {'작가': '황미나', '최근작': '보톡스'}

In [ ]:
rainbow = {'빨강' : 'red', '주황' : 'orange', '노' : 'yellow', '초' : 'green', '파' : 'blue', '남' : 'navy', '보' : 'purple'}

print('초록색=', rainbow['초'])

rainbow['횐'] = 'white'
rainbow['주황'] = 'juhwang'
del rainbow['파']

print(rainbow)

초록색= green
{'빨강': 'red', '주황': 'juhwang', '노': 'yellow', '초': 'green', '남': 'navy', '보': 'purple', '횐': 'white'}

In [ ]:
li = [['boy', '소년'], ['school', '학교'], ['book', '책']]
dic = dict(li)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic['boy'])
print(dic.get('boy'))
#print(dic['gril'])
print(dic.get('gril'))
print(dic.get('student', '사전에 없는 단어입니다.'))

소년
소년
None
사전에 없는 단어입니다.

In [ ]:
#딕셔너리 업데이트 => 키가 있으면 수정, 없으면 추가
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic2 = {'student':'학생', 'teacher':'선생님', 'book':'서적'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic.update(student='학생', boy='남자아이')
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'student': '학생'}

In [ ]:
dictionary = {
    "name":"7D 건조 망고",
    "type": "당절임",
    "ingredient":["망고", "설탕","메타중아황산나트륨", "치자황생소"],
    "origin":"필리핀"
}
for key in dictionary:
    print(key, ":", dictionary[key])

name : 7D 건조 망고
type : 당절임
ingredient : ['망고', '설탕', '메타중아황산나트륨', '치자황생소']
origin : 필리핀

In [ ]:
pets=[{"name":"구름", "age":5},
      {"name":"초코", "age":3},
      {"name":"아지", "age":1},
      {"name":"호랑이", "age":1}]

print("# 우리 동네 애완 동물들 #")
for i in pets:
    print(i['name'], i['age'], "살")

# 우리 동네 애완 동물들 #
구름 5 살
초코 3 살
아지 1 살
호랑이 1 살

in, not in 연산자
- 요소가 리트스나 딕셔너리안에 있는지 검사
- if 요소 in 데이터묶음(리스트, 딕셔너리):

In [ ]:
ans = input("결제 하시겠습니까? ")
if ans in ['yes', 'y', '예', '당근', 'ok']:
    print("구입해 주셔서 감사합니다.")
else:
    print("안녕히 가세요.")

결제 하시겠습니까? ok
구입해 주셔서 감사합니다.

In [ ]:
dic = {'boy':"소년", 'school':"학교", 'book':"책"}
if 'stuendt' in dic:
    print("사전에 있는 단어입니다.")
else:
    print("이 단어는 사전에 없습니다.")

이 단어는 사전에 없습니다.

In [ ]:
numbers = [1,2,3,4,5,6,8,9,5,1,7,3,5,1,3,5,7,9]
count={}
#1) 리스트에서 반복문으로 데이터 모두 읽어오기
for number in numbers:
#2) 읽어온 요소가 딕셔너리 없다면 {키 : 1개}
    if number not in count:
        count[number] = 1
#3) 읽어온 요소가 딕셔너리 있다면 {1:1} => {1:2} 개수가 증가(1개)
    else:
        count[number] = count[number] + 1
print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 8: 1, 9: 2, 7: 2}

In [ ]:
numbers = [1,2,3,4,5,6,8,9,5,1,7,3,5,1,3,5,7,9]
count={}
for number in numbers:
    if number in count:
        count[number] += 1
    else:
        count[number] = 1
print(count)

{1: 3, 2: 1, 3: 3, 4: 1, 5: 4, 6: 1, 8: 1, 9: 2, 7: 2}

In [ ]:
song = """by the rivers of babylon """

alphabet = dict()
for c in song:
    if c.isalpha() == False:
        continue
    c = c.lower()
    if c not in alphabet:
        alphabet[c] = 1
    else:
        alphabet[c] += 1
print(alphabet)

{'b': 3, 'y': 2, 't': 1, 'h': 1, 'e': 2, 'r': 2, 'i': 1, 'v': 1, 's': 1, 'o': 2, 'f': 1, 'a': 1, 'l': 1, 'n': 1}