<a href="https://colab.research.google.com/github/KimSiGyum/python2/blob/main/%ED%8A%9C%ED%94%8C%2C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC(20306%EA%B9%80%EC%8B%9C%EA%B2%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플
- 수정이 불가능한 자료들의 묶음
- (요소1, 요소2, ...)

In [ ]:
t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [ ]:
tu = 2
print(type(tu))
print(tu)

<class 'int'>
2

In [ ]:
tu = 2,
print(type(tu))
print(tu)

<class 'tuple'>
(2,)

In [ ]:
tu = 1, 2, 3, 4, 5

print(tu[2])
print(tu[1:4])
print(tu + (6, 7))
print(tu * 2)

3
(2, 3, 4)
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
tu[1] = 20
print(tu)

TypeError: ignored

### 여러개의 변수에 값을 한꺼번에 저장할떄 튜플을 사용

In [ ]:
tu = '이순신', '김유신', '강감찬'
print(tu)
lee, kim, kang = tu
print(lee)
print(kim)
print(kang)

('이순신', '김유신', '강감찬')
이순신
김유신
강감찬

In [ ]:
#swap
a = 12
b = 34

print(a, b)
c = a
a = b
b = c
print(a, b)

12 34
34 12

In [ ]:
a, b = 12, 34
print(a, b)
a, b = 34, 12
print(a, b)

12 34
34 12

In [ ]:
d, m = divmod(7, 3)
print('몫: ', d)
print('나머지: ', m)

몫:  2
나머지:  1

In [ ]:
d = 7 // 3
m = 7 % 3
print(d, m)

2 1

In [ ]:
score = [88, 95, 70, 100, 99]
tu = tuple(score)
#tu[0] = 100
print(tu)

li = list(tu)
li[0] = 100
print(li)

(88, 95, 70, 100, 99)
[100, 95, 70, 100, 99]

### 딕셔너리(사전)
- {키1 : 값1, 키2 : 값2, ...}

In [ ]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}
print(dic)
print(type(dic))

{'boy': '소년', 'school': '학교', 'book': '책'}
<class 'dict'>

In [ ]:
print(dic['boy'])
print(dic['book'])

print(dic['girl'])

소년
책

KeyError: ignored

In [ ]:
dic = {'boy' : '소년', 'school' : '학교', 'book' : '책'}
#수정
dic['boy'] = '남자아이'
print(dic)
#추가
dic['girl'] = '여자아이'
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책'}
{'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

In [ ]:
#삭제 => del
dic = {'boy': '남자아이', 'school': '학교', 'book': '책', 'girl': '여자아이'}

del dic['book']
print(dic)
del dic['boy']
print(dic)

{'boy': '남자아이', 'school': '학교', 'girl': '여자아이'}
{'school': '학교', 'girl': '여자아이'}

In [ ]:
dictionary = {
    'name' : '7D 건조 망고',
    'type' : '당절임',
    'ingredient' : ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
    'origin' : '필리핀'
}
print(dictionary)

{'name': '7D 건조 망고', 'type': '당절임', 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'], 'origin': '필리핀'}

In [ ]:
print('name:', dictionary['name'])
print('type:', dictionary['type'])
print('ingredient:', dictionary['ingredient'])
print('origin:', dictionary['origin'])

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

In [ ]:
dictionary['name'] = '8D 건조 망고'
del dictionary['ingredient']
dictionary['price'] = 5000
print(dictionary)

{'name': '8D 건조 망고', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

In [ ]:
animation = {}

print('요소 추가 이전:', animation)

animation['작가'] = '황미나'
animation['연재작'] = '이오니아의 푸른 별'
animation['최근작'] = '보톡스'
print('요소 추가 이후:', animation)

del animation['연재작']
print('요소 제거 이후:', animation)

요소 추가 이전: {}
요소 추가 이후: {'작가': '황미나', '연재작': '이오니아의 푸른 별', '최근작': '보톡스'}
요소 제거 이후: {'작가': '황미나', '최근작': '보톡스'}

In [ ]:
rainbow = {'빨강' : 'red', '주황' : 'orange', '노' : 'yellow', '초' : 'green', '파' : 'blue', '남' : 'navy', '보' : 'purple'}

print('초록색=', rainbow['초'])

rainbow['횐'] = 'white'
rainbow['주황'] = 'juhwang'
del rainbow['파']

print(rainbow)

초록색= green
{'빨강': 'red', '주황': 'juhwang', '노': 'yellow', '초': 'green', '남': 'navy', '보': 'purple', '횐': 'white'}

In [ ]:
li = [['boy', '소년'], ['school', '학교'], ['book', '책']]
dic = dict(li)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '책'}

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys(['boy', 'school', 'book'])
dict_values(['소년', '학교', '책'])
dict_items([('boy', '소년'), ('school', '학교'), ('book', '책')])

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
print(dic['boy'])
print(dic.get('boy'))
#print(dic['gril'])
print(dic.get('gril'))
print(dic.get('student', '사전에 없는 단어입니다.'))

소년
소년
None
사전에 없는 단어입니다.

In [ ]:
#딕셔너리 업데이트 => 키가 있으면 수정, 없으면 추가
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic2 = {'student':'학생', 'teacher':'선생님', 'book':'서적'}
dic.update(dic2)
print(dic)

{'boy': '소년', 'school': '학교', 'book': '서적', 'student': '학생', 'teacher': '선생님'}

In [ ]:
dic = {'boy':'소년', 'school':'학교', 'book':'책'}
dic.update(student='학생', boy='남자아이')
print(dic)

{'boy': '남자아이', 'school': '학교', 'book': '책', 'student': '학생'}