<a href="https://colab.research.google.com/github/KimSiGyum/python2/blob/main/%ED%95%A8%EC%88%98(20306%EA%B9%80%EC%8B%9C%EA%B2%B8_9_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 사용자 정의함수

1) 함수 정의(선언)
- def 함수명() :

2) 함수 호출(call)
- 함수명()

In [ ]:
#함수 정의
def Hi():
    print("Hello World")

#함수 호출
Hi()

Hello World

In [ ]:
def triangle():
    for i in range(5):
        for j in range(i+1):
            print('*', end='')
        print()
triangle()

*
**
***
****
*****

In [ ]:
def hello(매개1, 매개2):
    print(매개1)
    print(매개2)

hello(1, 2)

1
2

In [ ]:
def name(name):
    print(f"내 이름은 {name}야. 만나서 반가워")

name("채송화")
name("아이유")

내 이름은 채송화야. 만나서 반가워
내 이름은 아이유야. 만나서 반가워

In [ ]:
def even(a):
    if a%2 == 0:
        print("짝수")
    else:
        print("홀수")
even(11)

홀수

In [ ]:
def triangle(a):
    for i in range(a):
        for j in range(i+1):
            print('*', end='')
        print()
triangle(3)

*
**
***

In [ ]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 2)
print_n_times("반가워요", 3)

안녕하세요
안녕하세요
반가워요
반가워요
반가워요

In [ ]:
def avg(a, b, c):
    sum = a+b+c
    print(sum/3)

avg(3,5,10)

6.0

In [ ]:
import random

def dice_n_times(n):
    for i in range(n):
        k = random.randint(1,6)
        print(i+1, "번째 주사위 굴린 결과: ", k)

dice_n_times(6)

1 번째 주사위 굴린 결과:  6
2 번째 주사위 굴린 결과:  6
3 번째 주사위 굴린 결과:  3
4 번째 주사위 굴린 결과:  4
5 번째 주사위 굴린 결과:  5
6 번째 주사위 굴린 결과:  6

In [ ]:
def intsum(*ints):
    sum =0
    for i in ints:
        sum += i
    return sum

print(intsum(1,2,3))
print(intsum(5,7,9,11,13))
print(intsum(8,9,6,2,9,7,5,8))

6
45
54

In [ ]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value, end = ' ')
        print()

print_n_times(3, "안녕하세요", "즐거운", "파이썬")

안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬
안녕하세요 즐거운 파이썬

In [ ]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

print(add_mul('add', 1,2,3,4,5))
print(add_mul('mul', 1,2,3,4,5))

15
120

In [ ]:
def star(a, *args):
    for i in args:
        for j in range(int(i)):
            print(a, end = '')
        print()
star('*', 3,5,2)

***
*****
**

In [ ]:
def calcstep(begin, end, step = 1):
    sum = 0
    for num in range(begin, end+1, step):
        sum += num
    print("{}부터 {}까지 숫자 중 {}간격씩 더한 값은 ".format(begin, end, step), end = '')
    return sum

print(calcstep(1,100, 1))
print(calcstep(1, 100))

1부터 100까지 숫자 중 1간격씩 더한 값은 5050
1부터 100까지 숫자 중 1간격씩 더한 값은 5050

In [ ]:
def fn(a,b,c,d,e):
    print(a,b,c,d,e)

fn(1,2,3,4,5)
fn(a=1, b=2, c=3, d=4, e=5)
fn(e=5, c=3, b=2, a=1, d=4)
fn(1,2, d=4, c=3, e=5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
fn(d=4, e=5, 1,2,3)

SyntaxError: ignored